# Virtual Environment
venv

# Python
dist
build
nodimo.egg-info

# Pyenv
.python-version

# Coverage
coverage

# Vscode
__pycache__

# jupyter
.ipynb_checkpoints

# docs
docs/_build

# TODO: delete this later
tests_results